footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: hsl(245, 79%, 53%);
  }

  .nav {
    margin: 5px;
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: hsl(245, 79%, 53%);;
  }

a {
  color: black !important;
}

.not-found-background {
  display: flex;
  justify-content: center;
}

.not-found-text {
  text-align: center;
  border: 3px solid;
  margin-top: 20vh;
  padding: 15px;
}

.home-background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-box {
  text-align: center;
  color: white;
  border-radius: 15px;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vh;
  font-weight: bold;
}