footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .nav {
    margin: 5px;
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

a {
  color: black !important;
}